extends layout.pug

block append head
  script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js")
  script(src="https://www.amcharts.com/lib/3/ammap.js")
  script(src="https://www.amcharts.com/lib/3/maps/js/worldLow.js")
  script(src="https://www.amcharts.com/lib/3/plugins/export/export.min.js")
  script(src="https://www.amcharts.com/lib/3/themes/light.js")

  script(src="/js/d3.js")
  script(src='/js/map.js')
  script(src='/js/cloud.js')
  script(src="/js/alert.js")

block content
  .row.splash_area
    img.col-xs-12(src="/images/splash.jpg")
  #invitation_area.row
    #invitation.col-xs-offset-1.col-xs-10
      p#invitation_title.text-center AN INVITATION
      .row
        #invitation_content.col-xs-offset-1.col-xs-10
          br
          br
          p We invite you to join the Census of Gratitude and Thanks.
          br
          br
          p Humans are domesticated animals. This Census concerns non-human animals. Transcending divisions, language, religions and politics... Animals don't complain. Have you ever loved an animal, or become a better huiman being becuase of your relationship with an animal? Has an animal touched you, changed your life, taught you something, kept you safe, healed you? 
          br
          br
          p To honor and celebrate all those non-human animals who touch us so deeply, please let us remember to pass on their simple message in whatever way we can. Love and kindness, given freely with nothing asked in return, is all there is.
          br
          br
  br
  br
  #take_survey
    div
      p#take_survey_title.text-center TAKE THE SURVEY...
    div
    #survey_form
      p.take_survey_subtitle.text-center The <i>Thank The Animals Census</i> is free to anyone.
      p.take_survey_subtitle.text-center Just fill in the questions below and click "Add My Response!"
      br
      form#add_survey(method="post", action="/add", encType="multipart/form-data")
        .row
          .row.col-lg-6
            .row.col-xs-offset-2.col-xs-8
              .row.form_control
                p.form_label Your Name(or Pseudonym)
                input#form_name.form_input(type="text", name="username")
                
              input#form_email(type="hidden", name="email", value="")
              
              .row
                .row
                  .col-lg-5.col-xs-12.form_control
                    p.form_label Animal's Name
                    input#form_animal.form_input(type="text", name="animal_name")
                  
                  .col-lg-offset-2.col-lg-5.col-xs-12.form_control
                    p.form_label Breed
                    input#breed_data(type="hidden", name="breed_data")
                    select#breed_dropdown.col-xs-12.ui.search.dropdown.form_select(name="breed")
                      each breed in breeds
                        option=breed
              
              .row.form_control
                p.form_label Country
                input#country_data(type="hidden", name="country_data")
                select#country_dropdown.col-xs-12.ui.search.dropdown.form_select(name="country")
                    each country in countries
                      option=country
          .row
            .row.col-lg-6
              .row
                .col-xs-offset-2.col-xs-8.form_control
                  p.form_label What do you want to thank your animal for?
                  textarea#form_comment.form_textarea.form_select(name="comment", placeholder="(ie: companionship, love, wisdom, fun, playfulness, teachings, etc)")
              
              .row
                .col-xs-offset-2.col-xs-8.form_control
                  p.form_label Upload a photo of your animal-friend(optional)
                  .fileContainer.form_select
                    .custom_upload.text-center
                      .row
                        span#picture.glyphicon.glyphicon-picture
                      p.drop_string Drop an Image here
                      span or
                      .row
                        button.btn Browse
                        input(type='file', name="photoFile", accept="image/*")
        
        
        #form_submit_area.row.form_control
          .col-sm-offset-4.col-sm-4.col-xs-offset-3.col-xs-6
            input#btn_submit.text-center(type="button", value="ADD MY RESPONSE!")
          img.col-sm-offset-1.col-sm-2.col-xs-offset-1.col-xs-2(src="/images/logo-survey.gif")

  block census_result

  #about_us
    p#about_us_title.text-center WHO WE ARE
    .row
      .col-sm-offset-1.col-sm-5
        p.about_us_content Thank the Animals Census is operated by a few indivisuals who believe animals deserve appreciation and love from their human neighbors. This site is non-commercial, intended to be a public service.
        br
        br
        p.about_us_content If you are interested in joining or partnering with Thank the Animals Census, please contact Elsa Lambert at <a href="mailto:#">thanktheanimalscensus@gmail.com</a>.

      img.col-sm-5(src="/images/about-etching.jpg")
    .clear
  .row
    p#partners_title.text-center PARTNERS
    .row
      .col-xs-offset-1.col-xs-4
        .row.text-center
          .col-xs-12
            img(src="images/logo-thecouncil.gif")
            br
            a.site_link(href="http://www.thecouncilseries.com") www.thecouncilseries.com
      .col-xs-offset-2.col-xs-4
        .row.text-center
          .col-xs-12
            img(src="images/logo-app.gif")
            br
            a.site_link(href="http://www.animalwisdom-app.com") www.animalwisdom-app.com  
  br

  #modal_email.ui.modal
    br
    br
    p.email_title.white.text-center SURVEY LOGGED!
    br
    p.email_question.white.text-center Do you want to receive updates?
    br
    br
    .row
      .col-xs-offset-4.col-xs-4
        p.email_form_label Your email
        input#email_input.form_input(type="email", name="email")
        br
        br
        br
        br
        br
        br
        #btn_email KEEP IN TOUCH!
      
       
