extends first

block census_result
  #census_result
    br
    br
    span#latest_filename #{ latest_filename }
    .row
      p#census_result_title.text-center CENSUS RESULTS
      br
    .row
      .col-xs-offset-1.col-xs-10
        p#census_result_string To date 1,234 people from all over the world have responded to the survey and expressed gratitude for a non-human animal. Generalizations from this data are charted below, individual responses can be viewed below the charts.
    
    .row.census_area
      .col-xs-6.question_container
        .row
          .question_area.col-xs-offset-1.col-xs-11
            p.question_title QUESTION
            p.question_content What is your animal's breed?
      .row.col-xs-6
        .col-xs-11
          #breed_bubble.svg_area
          
    .row.census_area
      .row.col-xs-6
        .col-xs-offset-1.col-offset-11
          #word_chart.svg_area
      .col-xs-6.question_container
        .row
          #reverse_question_area.question_area.col-xs-11
            p.question_title QUESTION
            p.question_content What do you want to thank <br> your animal for?

    .row.census_area
      .col-xs-6.question_container
        .row
          .question_area.col-xs-offset-1.col-xs-11
            p.question_title QUESTION
            p.question_content Where are you from?
      .row.col-xs-6
        .col-xs-11
          #world_map.svg_area
        
    #animal_image.row
      p.individual_response.text-center To view an individual response, click on a photo below...
      a(href="/detail") <img id="img_grid" class="col-xs-offset-1 col-xs-10" src="images/survey-grid.jpg" />
      